{{ define "main" }}

{{ partial "page-header.html" . }}
<section class="section light-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>At Marvel-Labs we source, service and supply the very best in web development, apps, customisation and building creative web. Innovations runs through our veins - we’re passionate about development and are committed to delivering exceptional quality and service to our customers worldwide.</p>
                <p>We integrate our experience in a way that your requirements are completed with the perfection in given timeline</p>
                <p>Our team believes in three words: <strong>Innovation, quality and efficiency.</strong></p>
            </div>

        </div>
        <!--      {{ .Content }}-->
    </div>

</section>

{{ end }}